:root {
  --dark-gray: hsla(247, 15%, 15%, 1);
  --gray: hsla(252, 9%, 53%, 1);
  --almost-white: hsla(252, 11%, 91%, 1);
  --very-dark-gray: hsla(248, 15%, 11%, 1);
  --neon-green: hsl(127, 100%, 82%);
  --red: hsla(0, 90%, 63%, 1);
  --orange: hsla(13, 96%, 67%, 1);
  --yellow: hsla(42, 91%, 69%, 1);

  font-size: 10px;
  --fw-bold: 700;
  
  /* heading large */
  --fs-heading-l-desktop: 3.2rem;
  --fs-heading-l-mobile: 2.4rem;
  --fs-heading-l: var(--fs-heading-l-desktop);

  --lh-heading-l-desktop: 4.2rem;
  --lh-heading-l-mobile: 3.2rem;
  --lh-heading-l: var(--lh-heading-l-desktop);

  /* heading medium */
  --fs-heading-m-desktop: 2.4rem;
  --fs-heading-m-mobile: 1.8rem;
  --fs-heading-m: var(--fs-heading-m-desktop);

  --lh-heading-m-desktop: 3.2rem;
  --lh-heading-m-mobile: 2.4rem;
  --lh-heading-m: var(--lh-heading-m-desktop);

  /* body text */
  --fs-body-desktop: 1.8rem;
  --lh-body-desktop: 2.4rem;
  --fs-body: var(--fs-body-desktop);

  --fs-body-mobile: 1.6rem;
  --lh-body-mobile: 2.1rem;
  --lh-body: var(--lh-body-desktop);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-gray);
}

@media screen and (max-width: 768px) {
  :root {
    --fs-heading-l: var(--fs-heading-l-mobile);
    --lh-heading-l: var(--lh-heading-l-mobile);
    --fs-heading-m: var(--fs-heading-m-mobile);
    --lh-heading-m: var(--lh-heading-m-mobile);
    --fs-body: var(--fs-body-mobile);
    --lh-body: var(--lh-body-mobile);
  }
}
