:root {
  --dark-gray: hsla(247, 11%, 15%, 1);
  --gray: hsla(252, 9%, 53%, 1);
  --almost-white: hsla(252, 11%, 91%, 1);
  --very-dark-gray: hsla(248, 15%, 11%, 1);
  --neon-green: hsla(127, 100%, 82%, 1);
  --red: hsla(0, 90%, 63%, 1);
  --orange: hsla(13, 96%, 67%, 1);
  --yellow: hsla(42, 91%, 69%, 1);

  font-size: 10px;
  --fs-heading-l: 3.2rem;
  --lh-heading-l: 4.2rem;

  --fs-heading-m: 2.4rem;
  --lh-heading-m: 3.2rem;

  --fs-body-desktop: 1.8rem;
  --lh-body-desktop: 2.4rem;

  --fs-body-mobile: 1.6rem;
  --lh-body-mobile: 2.1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}
