.checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.neon-green-checkbox-item {
  display: flex;
  gap: 2rem;
  align-items: center;
  cursor: pointer;
  color: var(--almost-white);
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  font-weight: var(--fw-bold);
}

.neon-green-checkbox-item label,
.neon-green-checkbox-item input {
  cursor: pointer;
}

.neon-green-checkbox-item label:hover {
  color: var(--neon-green);
}

.neon-checkbox {
  margin-right: 2.4rem;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border: .2rem solid var(--almost-white);
  transform: translateY(.3rem);
}

.neon-checkbox:checked {
  border: .2rem solid var(--neon-green);
  background: url('/images/icon-check.svg') no-repeat center var(--neon-green);
  background-size: 1.2rem;
}

.neon-checkbox:active {
  border: .2rem solid var(--neon-green);
}

@media (max-width: 768px) {
  .checkbox-container {
    gap: 1.6rem;
  }
  .neon-checkbox {
    margin-right: 2rem;
  }

}