.checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.neon-green-checkbox-item {
  display: flex;
  gap: 2rem;
  align-items: center;
  cursor: pointer;
  color: var(--almost-white);
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  font-weight: var(--fw-bold);
}

.neon-green-checkbox-item label,
.neon-green-checkbox-item input {
  cursor: pointer;
}

.neon-green-checkbox-item label:hover {
  color: var(--neon-green);
}