.btn {
  background-color: var(--neon-green);
  color: var(--dark-gray);
  text-transform: uppercase;
  border: none;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  font-weight: var(--fw-bold);
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 6.5rem;
  cursor: pointer;
  border: 0.2rem solid var(--neon-green);
}

.btn:hover {
  background-color: transparent;
  color: var(--neon-green);
}

.btn:hover img {
  filter: invert(96%) sepia(59%) saturate(215%) hue-rotate(53deg)
    brightness(99%) contrast(104%);
}

.btn:active {
  background-color: var(--neon-green);
  color: var(--dark-gray);
}
.btn:active img {
  filter: none;
}

@media (max-width: 768px) {
  .btn {
    min-height: 5.6rem;
    gap: 1.6rem;
  }
}