.pass-output-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.9rem 3.2rem;
    background-color: var(--dark-gray);
    width: 100%;
}
.generated-pass {
    font-size: var(--fs-heading-l);
    line-height: var(--lh-heading-l);
    color: var(--almost-white);
}
