.pass-strength-detector-container {
  background-color: var(--very-dark-gray);
  text-transform: uppercase;
  display: flex;
  height: 7.2rem;
  align-items: center;
  justify-content: space-between;
  padding: 2.1rem 3.2rem;
  font-size: var(--fs-body);
  color: var(--gray);
  width: 100%;
}

.strength-text {
  font-size: var(--fs-heading-m);
  color: var(--almost-white);
}

.strength-indicator-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.colored-bar-container {
  display: flex;
  gap: 0.8rem;
}

.strength-colored-bar {
  height: 2.8rem;
  width: 1rem;
  border: 0.2rem solid var(--almost-white);
}

.too-weak {
  background-color: var(--red);
  border: 0.2rem solid var(--red);
}
.weak {
  background-color: var(--orange);
  border: 0.2rem solid var(--orange);
}
.medium {
  background-color: var(--yellow);
  border: 0.2rem solid var(--yellow);
}
.strong {
  background-color: var(--neon-green);
  border: 0.2rem solid var(--neon-green);
}

@media screen and (max-width: 768px) {
  .pass-strength-detector-container {
    height: 5.6rem;
    padding: 1.4rem 1.6rem;
  }
}
