.password-generator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 54rem;
    gap: 2.4rem;
}

.pass-input-container {
    padding: 2.4rem 3.2rem;
    background-color: var(--dark-gray);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}