.pass-output-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.9rem 3.2rem;
  background-color: var(--dark-gray);
  width: 100%;
}
.generated-pass {
  font-size: var(--fs-heading-l);
  line-height: var(--lh-heading-l);
  color: var(--almost-white);
}

.pass-input {
  background-color: var(--dark-gray);
  border: none;
  color: var(--almost-white);
  font-size: var(--fs-heading-l);
  width: 70%;
}

.pass-input::placeholder {
  color: var(--almost-white);
  opacity: 0.25;
}

.pass-input:focus {
  outline: none;
}
.copy-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.copy-btn-container img {
  cursor: pointer;
}
.copy-btn-container img:hover {
  filter: brightness(2);
}
.copy-btn-container img:active {
  filter: brightness(0.95);
}

.copied-text {
  color: var(--neon-green);
  font-size: var(--fs-body);
  text-transform: uppercase;
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}